body {
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
}

header {
    background-color: black;
    color: white;
    padding: 20px 0;
}

h1 {
    font-size: large;
    font-weight: bold;
    margin: 0;
}

main {
    padding: 80px 0;
    /* overflow: hidden; */
}

#gameDiv {
    text-align: center;
}

#gameDiv + p {
    font-size: large;
    margin-bottom: 80px;
}

section {
    margin-top: 40px;
}

h2 {
    font-size: large;
    font-weight: bold;
}

ul {
    margin: 0;
}

.chara img {
    display: block;
    float: right;
    margin-left: 40px;
}

.chara::after {
    content: "";
    display: block;
    clear: both;
}

.share {
    text-align: center;
    margin-top: 80px;
}

.share h3 {
    font-size: medium;
}

.share ul {
    list-style: none;
    padding: 0;
}

.share li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

.share a {
    display: inline-block;
}

.share img {
    width: 30px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px 0;
}

footer p {
    font-size: small;
    margin: 0;
}
